@using Bulky.Models.Model;
 @model  List<Product>


<div class="container p-3 ">

    <div class=" row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="Products" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>   Add New Products
            </a>
        </div>

    </div>
    <br />

    <div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Titles
                    </th>
                    <th>
                        Description
                    </th>

                    <th>
                        ISBN
                    </th>
                    <th>
                        Author
                    </th>
@*                      <th>
                        ListPrice
                    </th>*@
                    <th>
                        Price
                    </th>
@*                    <th>
                        Price50
                    </th>
                    <th>
                         Price500
                    </th>*@
                    <th>
                        Category
                    </th>

                    <th>
                        Action
                        
                    </th>

                </tr>
            </thead>
        </table>
    </div>
</div>

 @section Scripts{
     <script src="~/js/product.js"></script>
 }